body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 100%;
    height: 30%;
}

.logo-tictac{
    width: 25%;
}

.logo-ufps{
    width: 15%;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.content-body{
    background-color: rgb(142, 193, 193);
    width: 90%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2%;
}

.content-body .map {
    width: 25%;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.content-body .grafico-content{
    width: 80%;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    text-align: center;

}

.content-body .grafico-content .torta{
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);

}

.map svg{
    height: 90%;
}

.map svg g a path{
    fill:rgb(0, 184, 184) !important;
    stroke: white !important;
    stroke-width: 2px;
}

.map path:hover{
    fill: rgb(0, 94, 94) !important;
    stroke-width:2px !important;
}

nav{
    display: flex;
    width: 100%;
    height: 11%;
}

nav ul{
    width: 100%;
    background-color: rgb(193, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
}

nav ul li{
    list-style-type: none;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav span{
    color: white;
    font-size: 20px;
}

li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    color:rgb(193, 15, 15);
    background-color: white;
    font-weight: lighter;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

